* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

video {
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed; 
    right: 0; 
    width: auto;  
    z-index: -100;
  }


.welcome {
    background-color: rgba(0, 0, 0, 0.85);
    width: 60%;
    height: auto;
    margin: 20vh auto;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 50px;
}

.button {
    width: 20vw;
    text-decoration: none;
    height: 3em;
    margin-right: 1em;
    margin-top: 30vw;
    background-color: rgb(146, 10, 10);
    color: black;
    font-size: 0.5em;
    border: none;
    padding: 0.7em 2.7em;
}

.button:hover {
    background-color: black;
    color:rgb(146, 10, 10);
}
