* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.elevator-container{
    background-color: black;
    display: flex;
    width: 100%;
    height : 100vh;
    justify-content: center;
    overflow: hidden;
}

.elevator-background {
    position: fixed; 
    height: 102%;
    width : auto;
    z-index: 100;
    filter: drop-shadow(10px 10px 8px #000000);
}

.elevator-hideDoors {
    width: 100%;
    height : 100vh;
    display: flex;
    justify-content:space-between;
    z-index:50;
}


.elevator-firstHide {
    width: 25%;
    height : 100vh;
    background-color: black;
    z-index: 50;
}

.elevator-hideBackground {
    width: 100%;
    height : 112vh;
    display: flex;
    justify-content:space-between;
    z-index:110;
    position:absolute;
    overflow: hidden;
    top:-12vh;
}


.elevator-BgHide {
    width: 19%;
    height : 200vh;
    background-color:#0f0e0e;
    z-index: 110;
    filter: blur(3rem);
}


.text-intro {
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:30%;
    height:130px;
    margin:auto;
    bottom: 4vh;
    z-index:180;
    color: #7a1213;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    padding:1em;
}
 
.elevatorButton {
    height:3em;
    width:7em;
    z-index:110;
    margin: 10px auto 20px auto;
    background-color: #7a1213;
    color:black;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
}


.elevator-monsters-left{
    width: auto;
    height:420px;
    margin-top: 26vh;
    margin-right: 15vw;
    position: absolute;
    z-index: 10;
    box-shadow: inset -336px -356px 30px black;
}

.elevator-monsters-right{
    width: auto;
    height: 420px;
    margin-top: 26vh;
    margin-left: 22vw;
    position: absolute;
    z-index: 10;
    box-shadow: inset -336px -356px 30px black;
}



/* -------- test elevator -------------*/

.elevator-doors {
    position: absolute;
    margin: auto;
    width: 80vh;
    height: 100vh;
}

.sliding-door {
    position: absolute;
	width: 50%;
	height: 100%;
	border:3px solid rgba(0, 0, 0, 0.7);
	background-color: #7a1213;
	background-image: url("../assets/img/texture-door.png");
	transition: all 1s ease-in-out;
    box-sizing: border-box;
    z-index: 20;
}



.left {
	left: 0;
}
.right {
	right: 0;
}

.sliding-door.left.opened {
	left: -40vh;
	transition: left 2s ease-in-out;
}
.sliding-door.right.opened {
	right: -40vh;
	transition: right 2s ease-in-out;
}






/* -------- Description slides -------- */

.elevator-description-left {
    position : absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    background-color: rgba(0, 0, 0, 0.7);
    width : 20%;
    z-index: 150;
    text-align: center;
    border-radius : 5px;
    color: #7a1213;
    padding: 25px 18px 25px 18px ;
    right : 17vh;
    top : 17vh;
}

.elevator-description-right {
    position : absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    background-color: rgba(0, 0, 0, 0.7);
    width : 20%;
    z-index: 150;
    text-align: center;
    border-radius : 5px;
    color: #7a1213;
    padding: 25px 18px 25px 18px ;
    left : 16vh;
    top : 17vh;
}

.elevator-description-left h1, .elevator-description-right h1 {
    font-size : 40px;
}


.elevator-description-left p, .elevator-description-right p{
 font-size:16px;
 margin:0
}

.sexAppeal {
    margin-top:2em;

}


.button-match {
    background-color: white;
    margin:auto;
    margin-top:1em;
    text-decoration: none;
    padding:10px;
    width:60%;
    z-index:110;
    color:black;
    font-size:1.5em;
}

.button-match:hover {
    background-color:#7a1213;
}