* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import url( "https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica&display=swap" );

video {
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed; 
    right: 0; 
    width: auto;  
    z-index: -100;
  }

.mainContainer {
    height: 100vh;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.85);
    width: 60%;
    height: auto;
    margin: 20vh auto;
    border-radius: 5px;
    text-align: center;
    padding: 5%;
    color: white;
    font-size: 3em;
    font-family: 'IM Fell DW Pica', serif;
}

p{
    margin-top: 2.5vw;
}
.choice-back {
    margin:0.6em;
}
.button{
    height: 3em;
    background-color: rgb(146, 10, 10);
    color: black;
    font-size: 0.5em;
    border: none;
    padding: 1em;
    margin-top:2em;
    text-decoration: none;
}

.button:hover{
    background-color: black;
    color: rgb(146, 10, 10);
    border: solid 2px rgb(146, 10, 10);
}