* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

video {
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed; 
    right: 0; 
    width: auto;  
    z-index: -100;
  }

.mainContainer {
    height: 100vh;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.85);
    width: 60%;
    height: 60vh;
    margin: 20vh auto;
    border-radius: 5px;
    text-align: center;
    padding: 5%;
    color: white;
    font-size: 3em;
}

p{
    margin-top: 2.5vw;
}

input{
    width: 20vw;
    height: 3em;
    margin-right: 1em;
    margin-top: 5vw;
    background-color: rgb(146, 10, 10);
    color: black;
    font-size: 0.5em;
    border: none;
}

input:hover{
    background-color: black;
    color: rgb(146, 10, 10);
}